{%extends 'partials/base.html'%}
{%block title%}Password Reset Page{%endblock%}
{% load crispy_forms_tags %}
 {%block content%}

<div class="container">
    <div class="row mt-6 pt-5">
        <div class="col-md-6 offset-md-3">
            <div class="card my-3 shadow">
                <div class="card-body ">
                    <h4>Password Reset Page</h4>
                    <hr>
                    <div class="alert alert-info">
                        Enter the Email to reset the password
                    </div>
                 <form method="POST">
                        {%csrf_token%}
                        {{ form|crispy }}
                        <input class="btn btn-primary btn-block" type="submit" value="Reset Password">

                    </form>
                </div>
            </div>

        </div>
  
        
    </div>
</div>
    {%endblock%}

